.modal {
  background-color: var(--black-50);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  display: none;

  font-family: 'Inter', open-sans;
  font-style: normal;
  font-weight: 400;
}

.modal__close {
  color: var(--grey-4);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__body {
  box-sizing: border-box;
  background-color: var(--white);
  height: 100%;
  position: relative;
  padding: 5rem;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--grey-4);
  border-radius: 1rem;
}

.modal__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--black);
  margin-bottom: 2rem;
}

.modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey-2) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey-2);
  border-radius: 20px;
}
