@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --black: rgba(33, 36, 41);
  --black-80: rgba(33, 36, 41, 0.8);
  --black-50: rgba(33, 36, 41, 0.5);
  --pink: #F784AD;
  --purple: rgba(80, 40, 198);
  --purple-95: rgba(80, 40, 198, 0.95);
  --purple-90: rgba(80, 40, 198, 0.95);
  /*2342C0*/
  --blue: rgba(35, 66, 192, 1);
  --blue-95: rgba(35, 66, 192, 0.95);
  --blue-90: rgba(35, 66, 192, 0.9);
  --blue-80: rgba(35, 66, 192, 0.8);
  --blue-70: rgba(35, 66, 192, 0.7);
  --blue-60: rgba(35, 66, 192, 0.6);
  --blue-50: rgba(35, 66, 192, 0.5);
  --blue-30: rgba(35, 66, 192, 0.3);
  --blue-20: rgba(35, 66, 192, 0.2);
  --blue-10: rgba(35, 66, 192, 0.1);
  --red: #F03D3E;
  --grey-1: #F8F9FA;
  --grey-2: #DDE2E5;
  --grey-3: #ACB5BD;
  --grey-4: #495057;

  --grey: rgba(73, 80, 87, 1);
  --grey-90: rgba(73, 80, 87, 0.9);
  --grey-50: rgba(73, 80, 87, 0.5);
  --grey-40: rgba(73, 80, 87, 0.4);
  --grey-30: rgba(73, 80, 87, 0.3);
  --grey-20: rgba(73, 80, 87, 0.2);
  --grey-10: rgba(73, 80, 87, 0.1);

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --base-size: 8px;
}

html {
  font-size: var(--base-size);
}
