.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__trigger {
  display: inline-block;
}

.tooltip__trigger:hover ~ .tooltip__balloon {
  display: block;
}

.tooltip__balloon {
  display: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--grey-2);
  padding: 2rem 3rem;
  background-color: var(--black);
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 1rem));
  white-space: nowrap;
}

.tooltip__balloon:after {
  box-sizing: border-box;
  content: "";
  border: 1.25rem solid transparent;
  border-top-color: var(--black);
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
}

.sample-wrapper {
  font-size: 3rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  text-align: center;
}
